*{
    margin: 0;
    padding: 0;
    list-style: none;
}

header{
    padding: 2.5rem;
    background-color: rgb(134, 43, 134);
    box-shadow: 5px  5px 5px black;
    text-shadow:  4px 4px 4px black;
}

header i{
    font-size: 100px;
    
}

nav ul{

    display: flex;
    justify-content: center;

}


nav ul li{

    margin-right: 20px;
    font-size: 25px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: black;
    transition: 0.8s;
}


.pagina{
    background-image: url(imagens/prancheta3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding:15rem;
}

.pagina h2{
color: white;
text-shadow: 4px 4px 4px black;
}

.pagina p{
    color: white;
    text-shadow: 4px 4px 4px black;
}

.pagina1{
    background-color: rgb(168, 131, 202);
    padding: 4rem;
    font-size: 25px;
    color: white;
    text-shadow: 4px 4px 4px black;
}


footer{
padding: 1rem;
background-color: rgb(143, 73, 143);
text-align: center;
box-shadow: 5px 5px 5px black;
text-shadow: 4px 4px 4px black;
 

}

footer nav ul{
display: flex;
justify-content: center;

}


footer nav ul li{
    margin-right: 20px;
    font-size: 25px;
}

footer nav ul li a{
    text-decoration: none;
    color: white;
    
    
}

.icone{
    display: flex;
    font-size: 2rem;
    justify-content: end;
    align-items: center;
    
    
}

.icone i{
    margin-left: 2em;
}


