*{
    margin: 0;
    padding: 0;
    list-style: none;
}

header{
    padding: 2.5rem;
    background-color: rgb(134, 43, 134);
    box-shadow: 5px  5px 5px black;
    text-shadow:  4px 4px 4px black;
    align-items: center;
    display: flex;
    justify-content: center;

}

header i{
    font-size: 7rem;
    margin-right: 5em;
    color: white;
    
    
}

nav ul{

    display: flex;
    justify-content: end;

}


nav ul li{

    margin-right: 20px;
    font-size: 25px;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    
}

nav ul li a:hover{
    color: black;
    transition: 0.8s;
}


.pagina{
    background-image: url(imagens/prancheta3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding:15rem;
}

.pagina h2{
color: white;
text-shadow: 4px 4px 4px black;
}

h2{
    font-size: 35px;
}

.pagina p{
    color: white;
    text-shadow: 4px 4px 4px black;
    
}

.pagina1{
    background-color: rgb(168, 131, 202);
    padding: 6rem;
    font-size: 25px;
    color: white;
    text-shadow: 4px 4px 4px black;
}

.meta3 {
    padding: 1em;
    background-color: blueviolet;
}

.meta3 div{

    display:  flex;
    background-color: blueviolet;
   
}


.meta3 img{
    
width: 30rem;
height: auto;
margin-left: 70px;
margin-top: 50px;
}

.meta3 p{
    background-color: blueviolet;
    padding: 70px;
    font-size: 2rem;
    color: white;
    text-shadow: 4px 4px 4px black;
    margin-left: 1em;
}
    
    
    
    


.meta3 button{
    padding: 1rem;
    border-radius: 50px;
    border-color: rgb(84, 59, 107);
    width: 15rem;
    cursor: pointer;
    margin-top: 1em;
    margin-left: 4em;

     }

     .meta3 button:hover{
        transition: 5s;
        color: white;
        background-color: blue;

     }

     .meta3 button a{

     }


    

    




footer{
padding: 1rem;
background-color: rgb(143, 73, 143);
text-align: center;
box-shadow: 5px 5px 5px black;
text-shadow: 4px 4px 4px black;
 align-items: center;
 display: flex;
 justify-content: end;

}

footer nav ul{
display: flex;
justify-content: center;

}


footer nav ul li{
    margin-right: 20px;
    font-size: 25px;
}

footer nav ul li a{
    text-decoration: none;
    color: white;
    
    
}

.icone{
    display: flex;
    font-size: 2rem;
    justify-content: end;
    
    
    
}

.icone i{
    margin-left: 2em;
}


